@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
:root{
    --Cabin: 'Cabin', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --Roboto-Mono: 'Roboto Mono', monospace;
    --COLORHOVER: rgb(201, 33, 33);
    --COLORFUNDO: #F0EEEB;
}
html, body{
    padding: 0%;
    margin: 0%;
    font-family: var(--Cabin);
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
/*PRIMEIRA PARTE DO HEADER*/
.anuncio{
    width: 100%;
    height: 30%;
    text-align: center ;
    color: white;
    background-color: rgb(0, 0, 0);
}
.anuncio > p{
    margin: 10px;
}
/*TOPO DO SITE*/
header{
    background-color: var(--COLORFUNDO);
}
/*PARTE NOVA DO HEADER*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.283);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: 400;
}
li > a:hover{
    color: var(--COLORHOVER);
    font-size: 20px;
}
.login-button > #buttonplay{
    border: none;
    padding: 10px 15px;
}

.login-button #buttonplay a {
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-size: 1.1rem;
}

.login-button > #buttonget {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #000000;
}

.login-button #buttonget a {
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 845px) {
    .nav-bar {
        align-items: center;
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: solid rgba(0, 0, 0, 0.137);
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        padding: 0%;
        text-align: center;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}
/*938*/
/*PRIMEIRA PARTE DO CONTEUDO DO SITE*/
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    
}
/*PARTE CAIXA1*/
.caixa1{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 60px;
    align-items: center;
    background-color: var(--COLORFUNDO);
}
/*PRIMEIRA PARTE DA PRIMEIRA CAIXA*/
.caixa1 > #sub-caixa1{
    width: 45%;
    height: 100%;
    text-align: left;
    padding-left: 10%;
}
.caixa1 > #sub-caixa1 > h1{
    font-size: 3.3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa1 > #sub-caixa1 > #mid-p{
    color: #5B5545;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa1 > #sub-caixa1 > article{
    display: flex;
    align-items: center;
}
.caixa1 > #sub-caixa1 > article > p{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa1 > #sub-caixa1 > article > img{ 
    margin-right: 15px;
}
.caixa1 > #sub-caixa1 > form > p > input{
    text-align: center;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.caixa1 > #sub-caixa1 > form > p > #iemail{
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;
    color: black;
    background-color: white;
}
/*SEGUNDA PARTE DA PRIMEIRA CAIXA*/
.caixa1 > #sub-caixa2{
    width: 40%;
    height: 100%;
}
.caixa1 > #sub-caixa2 > picture > img{
    width: 75%;
    height: 600px;
    margin-left: 12%;
}
/*PARTE CAIXA2*/
.caixa2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.caixa2 > section{
    width: 86%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.caixa2 > section > a{
    margin: 20px ;   
}
.caixa2 > section > a:hover{
    margin: 20px ;   
    margin-top: 10px;
    transition: 0.3s;
}
.caixa2 > section > a > img{
    width: 100%;
    height: 30px;
    
}
/*PARTE PARA TABLET*/
@media (max-width:1440px){
    .caixa2 > section > .tablea{
        width: 0%;
        height: 0%;
        margin: 0px;   
    }
}
/*PARTE PARA CELULAR*/
@media (max-width:680px){
    .caixa2 > section > .celular{
        width: 0%;
        height: 0%;
        margin: 0px;   
    }
}
/*PARTE CAIXA3*/
.caixa3{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa3 > .subcaixa3{
    width: 86%;
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(img/Phone\ Mockup\ \(Desktop\).png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #5757571b;
}
.caixa3 > .subcaixa3 > .subcaixa4{
    margin-left: 100px;
}
.caixa3 > .subcaixa3 > .subcaixa4 > h1{
    margin: 0%;
    font-size: 3.0em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa3 > .subcaixa3 > .subcaixa4 > p{
    color: #5B5545;
    font-size: 24px;
    margin: 10px;
}
.caixa3 > .subcaixa3 > .subcaixa4 > a{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.639);
}
.caixa3 > .subcaixa3 > .subcaixa4 > a:hover{
    font-size: 2=px;
    color: var(--COLORHOVER);
}
/*PARTE CAIXA-4*/
.caixa4{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;  
    align-items: center;
}
.caixa4 > .subcaixa5{
    width: 50%;
    height: 100%;
}
.caixa4 > .subcaixa5 > img{
    width: 100%;
    height: 550px;
    margin: 0%;
}
/*segunda parte da caixa-4*/
.caixa4 > .subcaixa6{
    width: 36%;
    height: 100%;
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
}
.caixa4 > .subcaixa6 > h1{
    margin: 0%;
    font-size: 2.7em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa4 > .subcaixa6 > p{
    color: #5B5545;
    font-size: 22px;
    margin: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa4 > .subcaixa6 > a{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.639);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa4 > .subcaixa6 > a:hover{
    font-size: 29px;
    color: var(--COLORHOVER);
}
/*FOOTER PARTE FINAL DO SITE*/
footer{
    background-color: black;
    color: white; 
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
}
footer > section{
    margin: 5px;
}
footer > section > p{
    font-size: 21px;
    color: rgb(122, 122, 122);
}
footer > section > a{
    color: #5B5545;
    text-decoration: none;
}
footer > section > a:hover{
    color: var(--COLORHOVER);
    text-decoration: underline,;
}
/*TELA PARA TABLET MEDIA*/    
@media(max-width:1440px){
    /*PARTE CAIXA1*/
.caixa1{
    width: 100%;
    display: flex;
    flex-flow: column-reverse ;
    padding-bottom: 60px;
    align-items: center;
}
/*PRIMEIRA PARTE DA PRIMEIRA CAIXA*/
.caixa1 > #sub-caixa1{
    width: 80%;
    height: 50%;
    text-align: left;
    padding-right: 10%;
}
.caixa1 > #sub-caixa1 > h1{
    font-size: 3.3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
.caixa1 > #sub-caixa1 > #mid-p{
    font-size: 24px;
    color: #5B5545;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.166);
}
/*SEGUNDA PARTE DA PRIMEIRA CAIXA*/
.caixa1 > #sub-caixa2{
    width: 100%;
    height: 50%;
}
.caixa1 > #sub-caixa2 > picture > img{
    width: 80%;
    max-height: 500px;
    margin-left: 0%;
    margin-left: 10%;
}
/*PARTE CAIXA3*/
.caixa3{
    width: 100%;
    height: 750px;
    display: flex;
}
.caixa3 > .subcaixa3{
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-image: url(img/Phone\ Mockup\ \(Tablet\).png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.caixa3 > .subcaixa3 > .subcaixa4{
    height: 50%;
    margin: 30px;
}
/*PARTE CAIXA-4*/
.caixa4{
    width: 100%;
    height: 900px;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;  
    align-items: center;
}
.caixa4 > .subcaixa5{
    width: 100%;
    height: 50%;
    justify-content: center;
}
.caixa4 > .subcaixa5 > img{
    width: 100%;
    height: 550px;
    margin: 0%;
}
/*segunda parte da caixa-4*/
.caixa4 > .subcaixa6{
    width: 90%;
    height: 50%;
    padding-left: 10%;
    display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
}
/*FOOTER PARTE FINAL DO SITE*/
footer{
    background-color: black;
    color: white; 
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10%;
}
footer > section{
    margin: 10px;
}
}